lifehapp.online {
    encode zstd gzip
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        X-Frame-Options DENY
        Strict-Transport-Security "max-age=2592000"
    }
    @backend path /api/* /health/live /health/ready
    handle @backend {
        reverse_proxy api:8000
    }
    handle {
        reverse_proxy frontend:8080
    }
}
www.lifehapp.online {
    redir https://lifehapp.online{uri} permanent
}
